<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h4><%= lista %></h4>

    <h4>Lista de Alunos:</h4>
    <ul>
      <% for (let i = 0; i < lista.length; i++) { %>
        <li>
          Nome: <%= lista[i].nome %>, Idade: <%= lista[i].idade %>
        </li>
      <% } %>
    </ul>
    
</body>
</html>